div(id='emoticonsPanel' class='panelContainer closed')
  .panelHeader
    .panelTitleContainer
      span.insetText(text='Emoticons')
        | Emoticons
  .panelBody
    ul
      li
        img(class='emoticon happy' src='#{BASE_DIR}/images/empty.gif')
        |  =&nbsp;
        code.emoticon
          | :)
      li
        img(class='emoticon superHappy' src='#{BASE_DIR}/images/empty.gif')
        |  =&nbsp;
        code.emoticon
          | :D
      li
        img(class='emoticon wink' src='#{BASE_DIR}/images/empty.gif')
        |  =&nbsp;
        code.emoticon
          | ;)
      li
        img(class='emoticon cry' src='#{BASE_DIR}/images/empty.gif')
        |  =&nbsp;
        code.emoticon
          | :')
      li
        img(class='emoticon surprise' src='#{BASE_DIR}/images/empty.gif')
        |  =&nbsp;
        code.emoticon
          | :o
      li
        img(class='emoticon uncertain' src='#{BASE_DIR}/images/empty.gif')
        |  =&nbsp;
        code.emoticon
          | :/
      li
        img(class='emoticon angry' src='#{BASE_DIR}/images/empty.gif')
        |  =&nbsp;
        code.emoticon
          | x(
      li
        img(class='emoticon sad' src='#{BASE_DIR}/images/empty.gif')
        |  =&nbsp;
        code.emoticon
          | :(
      li
        img(class='emoticon sunglasses' src='#{BASE_DIR}/images/empty.gif')
        |  =&nbsp;
        code.emoticon
          | B)
      li
        img(class='emoticon tongue' src='#{BASE_DIR}/images/empty.gif')
        |  =&nbsp;
        code.emoticon
          | :P
      li
        img(class='emoticon heart' src='#{BASE_DIR}/images/empty.gif')
        |  =&nbsp;
        code.emoticon
          | <3
      li
        img(class='emoticon blank' src='#{BASE_DIR}/images/empty.gif')
        |  =&nbsp;
        code.emoticon
          | :|
    p.hint
      | Emoticons can be typed with or without noses
