- var currentVersion = '?v=0.0.4-3';
- var BASE_DIR = '';

doctype html
html(lang='en')
  head
    title
      | Fat-Cat Chat
    meta(charset='utf-8')
    meta(name='description', content='A simple IRC-like chat server.')
    link(rel='shortcut icon', href='#{BASE_DIR}/images/favicon.ico#{currentVersion}')
    link(rel='stylesheet', href='#{BASE_DIR}/stylesheets/index.css#{currentVersion}')
  body

    #contentColumn
      #headerPanel
        h1
          | Fat-Cat Chat&nbsp;
          img(class='emoticon wink' src='#{BASE_DIR}/images/empty.gif')

      #buttonsPanel
        button#changeNameButton
          | Change Name
        button#newRoomButton
          | New Room
        button#addBotButton
          | Add Bot

      #textEntryDialoguePanel.hidden
        input(type='text' id='changeNameTextBox' placeholder='Enter name')
        button#confirmButton
          | OK
        button#cancelButton
          | Cancel

      include roomChatPanel
      include directoryPanel
      include commandsPanel
      include emoticonsPanel
      include privateChatPanel

      #footer
        a(href='http://jackieandlevi.com/levi', target='_blank')
          | Levi
        |  made this.&nbsp;
        a(href='https://github.com/levisl176/fat-cat-chat', target='_blank')
          | Fork it on GitHub
        | !

    script(src='#{BASE_DIR}/scripts/util/params.js#{currentVersion}')
    script(src='#{BASE_DIR}/scripts/util/util.js#{currentVersion}')
    script(src='#{BASE_DIR}/scripts/util/Log.js#{currentVersion}')
    script(src='#{BASE_DIR}/scripts/models/User.js#{currentVersion}')
    script(src='#{BASE_DIR}/scripts/models/Room.js#{currentVersion}')
    script(src='#{BASE_DIR}/scripts/models/Message.js#{currentVersion}')
    script(src='#{BASE_DIR}/scripts/models/ConsoleEntry.js#{currentVersion}')
    script(src='#{BASE_DIR}/scripts/views/ChatConsole.js#{currentVersion}')
    script(src='#{BASE_DIR}/scripts/views/ChatTextBox.js#{currentVersion}')
    script(src='#{BASE_DIR}/scripts/controllers/IOManager.js#{currentVersion}')
    script(src='#{BASE_DIR}/scripts/controllers/ChatBot.js#{currentVersion}')
    script(src='#{BASE_DIR}/scripts/controllers/ConsoleManager.js#{currentVersion}')
    script(src='#{BASE_DIR}/scripts/controllers/UIManager.js#{currentVersion}')
    script(src='#{BASE_DIR}/scripts/index.js#{currentVersion}')
